body {

    background-color: #3e3666;

}

header {

    background-color: #2d2749;
    margin: 0px;
    padding: 0px;
}

nav>ul {
    display: flex;
    list-style-type: none;
    position: relative;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav>ul>li {
    margin: 0 15px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}

#goikomenua>nav {
    display: flex;
    align-items: center;

}

.logoa {

    width: 130px;
    border-radius: 50px;


}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer>a{
    text-decoration: none;
    color:white;
}