*{
    margin: 0;
}
body {
    background-color: #3e3666;


}

header {
    background-color: #2d2749;
    margin: 0 auto;
    padding: 15px 30px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}

details {
    position: static;
}

summary {
    background-color: #2d2749;
    list-style: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '\2630';
    font-size: 30px;
}

details[open] summary::before {
    content: '\2715'; 
}

details[open] summary {
    background-color: #2d2749;
}
details[open] summary:hover {
    background-color: #3e3666;
}


.menua {
    background-color: #2d2749;
    padding: 15px 0px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%; 
    margin-top: -25px; 
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.menua li {
    list-style: none;
    display: inline-block;
    margin: 0 5px; 
}

.menua li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 16px;
    display: block;
    transition: all 1s ease;
    font-size: 20px;
}

.menua li a:hover {
    color: #8a7ec7;
    background: #3e3666;;
}

.logoa {
    width: 130px;
    border-radius: 50px;
}

summary:hover {
    background-color: #3e3666;
}

.PribatutasunPolitika{
    color:white;
}
.CookiePolitika{
    color:white;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #2d2749;
  padding-bottom: 20px;
  padding-top: 20px;
}
footer>a{
    text-decoration: none;
    color:white;
}
img:hover {
    transform: scale(1.10);
}
